.App {
  text-align: center;
  width: 70%;
  margin: 0 auto;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}